.Container1  {
    border: thick solid #F00509;
    padding-right: 19px;
    margin-right: 0px;
    margin-left: 71px;
    padding-left: 21px;
}

#My-Header {
	background-color: aquamarine;
	text-decoration: underline;
}

#Con-Head {
	color: blueviolet;
	font-style: italic;
}

#text {
	font-size: 18px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", "Helvetica", "Arial", "sans-serif";
}